body{
    color: brown;
    text-align: center;
    font-weight: bold;
}

#cabecera 
{
    color: burlywood;
    padding: 10px;
    padding: 10px;
}

#container
{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;   
}

