
body
{
   text-align: center;
   font-size: 20px;    
}

header
{
   color: brown;
}

#container
{
   display: flex;
   flex-direction: column;
   text-align: left;
   padding: 20px;
   color: chocolate;
   font-weight: bold;
}

#cabecera
{
   background-color: antiquewhite;
   border-radius: 5;
   border-color: blue;
   font-weight: bolder;
}