
body
{
   text-align: center;
   font-size: 20px;    
}

header
{
   color: brown;
}

#cabecera
{
   display: flex;
   flex-direction: row;
   padding: 20px;
   color: chocolate;
   font-weight: bold;
}